@font-face {
    font-family: 'Museo Sans Cyrl';
    src: local('Museo Sans Cyrl 500'), local('MuseoSansCyrl-500'), url('http://hb.bizmrg.com/fonts/museosanscyrl/500.woff2') format('woff2'), url('http://hb.bizmrg.com/fonts/museosanscyrl/500.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
